dify-workflows/poster-plan-generator.yml
app:
  description: '交通安全宣传海报方案生成，输出包含主题、视觉描述、色彩方案、布局和文案的结构化海报策划'
  icon: "\U0001F3A8"
  icon_background: '#FFE4CC'
  icon_type: emoji
  mode: workflow
  name: poster-plan-generator
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-to-llm-plan
      source: start_node
      sourceHandle: source
      target: llm_plan
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-plan-to-code
      source: llm_plan
      sourceHandle: source
      target: code_extract
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: code-to-llm-visual
      source: code_extract
      sourceHandle: source
      target: llm_visual
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: llm-visual-to-end
      source: llm_visual
      sourceHandle: source
      target: end_node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: '输入海报方案生成所需的主题和参数'
        selected: false
        title: 开始
        type: start
        variables:
        - label: 主题关键词
          max_length: 200
          options: []
          required: true
          type: text-input
          variable: topic
        - label: 补充描述
          max_length: 500
          options: []
          required: false
          type: paragraph
          variable: description
        - label: 设计风格
          max_length: null
          options:
          - formal
          - friendly
          - humorous
          - warning
          required: true
          type: select
          variable: style
        - label: 方案数量
          max_length: null
          options:
          - '1'
          - '2'
          - '3'
          required: true
          type: select
          variable: num_plans
      height: 90
      id: start_node
      position:
        x: 30
        y: 227
      positionAbsolute:
        x: 30
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: '基于主题和风格生成海报策划方案'
        title: 海报方案策划
        type: llm
        model:
          provider: deepseek
          name: deepseek-chat
          mode: chat
          completion_params:
            temperature: 0.7
        prompt_template:
        - role: system
          text: |
            你是一名资深的交通安全宣传视觉策划师，擅长将交通安全主题转化为有视觉冲击力的海报方案。

            ## 核心原则

            1. **信息优先**：海报核心信息必须3秒内可读懂
            2. **情感驱动**：通过视觉元素引发目标受众的情感反应（警醒/温暖/紧迫）
            3. **政务规范**：符合政府宣传品视觉标准，庄重但不呆板
            4. **场景真实**：画面元素来自真实交通场景，不使用过度夸张或恐怖元素

            ## 风格定义

            - **formal**（庄重正式）：政府公告风格，蓝白主色调，衬线字体，信息层次分明，适合政策宣传、法规解读
            - **friendly**（亲民温暖）：卡通插画或实景+暖色调，圆润字体，生活化场景，适合安全提示、出行指南
            - **humorous**（趣味创意）：夸张对比/双关创意/漫画风，鲜明色彩碰撞，适合年轻受众、社交传播
            - **warning**（警示震撼）：高对比度（黑红/黑黄），大字号数据冲击，真实事故数据呈现，适合醉驾/超速等严重违法警示

            ## 输出格式

            对每个方案，严格按以下结构输出：

            ### 方案X：[方案标题]

            **主题定位**：一句话概括海报核心传达信息

            **视觉概念**：
            - 画面主体描述（中心视觉元素是什么）
            - 背景场景描述
            - 关键辅助元素（图标/数据/装饰）

            **色彩方案**：
            - 主色：#XXXXXX（色彩名称）— 使用理由
            - 辅色：#XXXXXX（色彩名称）— 使用理由
            - 强调色：#XXXXXX（色彩名称）— 用于哪些元素

            **布局结构**：
            - 尺寸建议（竖版/横版/方形）
            - 视觉动线描述（观者目光移动路径）
            - 信息层次：第一层（最醒目）→ 第二层 → 第三层

            **文案内容**：
            - 主标题（不超过10个字）
            - 副标题/口号（不超过20个字）
            - 正文/数据（如有）
            - 底部信息（发布单位、举报电话等）

            **制作建议**：
            - 推荐制作工具
            - 印刷/电子版注意事项
            - 可延展的系列化方向
        - role: user
          text: |
            请为以下主题生成{{#start_node.num_plans#}}个交通安全宣传海报方案：

            **主题**：{{#start_node.topic#}}
            **补充描述**：{{#start_node.description#}}
            **设计风格**：{{#start_node.style#}}
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: llm_plan
      position:
        x: 334
        y: 227
      positionAbsolute:
        x: 334
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: '从海报策划文本中提取结构化JSON数据'
        title: 结构化提取
        type: code
        code_language: python3
        code: |
          def main(plan_text: str) -> dict:
              import json
              import re

              plans = []
              plan_blocks = re.split(r'###\s*方案\s*[\d一二三四五六七八九十]+', plan_text)

              for block in plan_blocks[1:]:
                  plan = {}

                  title_match = re.match(r'[：:\s]*(.+?)(?:\n|$)', block.strip())
                  plan['title'] = title_match.group(1).strip() if title_match else ''

                  theme_match = re.search(r'主题定位[：:]\s*(.+?)(?:\n|$)', block)
                  plan['theme'] = theme_match.group(1).strip() if theme_match else ''

                  colors = re.findall(r'(#[0-9A-Fa-f]{6})', block)
                  plan['colors'] = colors[:3]

                  headline_match = re.search(r'主标题[：:（(]?[^）)]*[）)]?\s*[：:]?\s*(.+?)(?:\n|$)', block)
                  plan['headline'] = headline_match.group(1).strip().strip('""「」') if headline_match else ''

                  subtitle_match = re.search(r'副标题[/／]?口号[：:（(]?[^）)]*[）)]?\s*[：:]?\s*(.+?)(?:\n|$)', block)
                  plan['subtitle'] = subtitle_match.group(1).strip().strip('""「」') if subtitle_match else ''

                  plans.append(plan)

              plans_json = json.dumps(plans, ensure_ascii=False)

              return {
                  "plans_json": plans_json,
                  "plan_count": len(plans)
              }
        variables:
        - value_selector:
          - llm_plan
          - text
          variable: plan_text
        outputs:
          plans_json:
            type: string
            children: null
          plan_count:
            type: number
            children: null
      height: 90
      id: code_extract
      position:
        x: 638
        y: 227
      positionAbsolute:
        x: 638
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: '对每个方案的视觉描述进行细化，使其可直接用于设计师/AI绘图工具'
        title: 视觉描述细化
        type: llm
        model:
          provider: deepseek
          name: deepseek-chat
          mode: chat
          completion_params:
            temperature: 0.6
        prompt_template:
        - role: system
          text: |
            你是一名视觉设计顾问。你的任务是对已有的海报方案进行视觉描述细化，让设计师或AI绘图工具（如Midjourney/Stable Diffusion）能直接使用。

            ## 细化要求

            对每个方案补充以下内容：

            1. **画面构图细节**：具体元素的位置、大小比例、遮挡关系
            2. **光影氛围**：光源方向、明暗对比、整体氛围感（如晨光柔和/夜间警示灯闪烁）
            3. **字体建议**：主标题/副标题/正文各推荐具体中文字体（如思源黑体Bold、站酷快乐体等）
            4. **AI绘图提示词**：为画面主体提供一段英文Prompt（用于Midjourney等工具生成参考图）

            ## 输出格式

            在原有方案基础上追加细化内容，保持原方案文本不变，在每个方案末尾增加：

            **视觉细化补充**：
            - 构图细节：...
            - 光影氛围：...
            - 字体推荐：主标题 / 副标题 / 正文
            - AI绘图参考Prompt：...
        - role: user
          text: |
            请对以下海报方案进行视觉描述细化：

            {{#llm_plan.text#}}
        vision:
          enabled: false
          configs:
            variable_selector: []
        memory:
          enabled: false
          window:
            enabled: false
            size: 50
        context:
          enabled: false
          variable_selector: []
        structured_output:
          enabled: false
        retry_config:
          enabled: false
          max_retries: 1
          retry_interval: 1000
          exponential_backoff:
            enabled: false
            multiplier: 2
            max_interval: 10000
      height: 90
      id: llm_visual
      position:
        x: 942
        y: 227
      positionAbsolute:
        x: 942
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - llm_visual
          - text
          value_type: string
          variable: result
        - value_selector:
          - code_extract
          - plans_json
          value_type: string
          variable: plans_json
        selected: false
        title: 输出
        type: end
      height: 90
      id: end_node
      position:
        x: 1246
        y: 227
      positionAbsolute:
        x: 1246
        y: 227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
